<div class="container d-flex justify-content-center">
  <div
    class="d-flex flex-column align-items-center justify-content-center mt-2"
  >
    <h3>Menu Principal</h3>
    <a href="{% url 'index' %}" class="btn btn-primary mt-2">Home</a>
    <a href="{% url 'processar_base' %}" class="btn btn-primary mt-2"
      >Processar a Base</a
    >
    <a href="{% url 'rodar-modelos' %}" class="btn btn-primary mt-2"
      >Rodar Modelos</a
    >
    <a href="{% url 'maquina-comites' %}" class="btn btn-primary mt-2"
      >Máquina de Comitês</a
    >
    <a href="{% url 'rodar-modelos' %}" class="btn btn-primary mt-2"
      >Previsão</a
    >
    <a href="{% url 'score' %}" class="btn btn-primary mt-2">Gerar Score</a>
    <a href="{% url 'base-utilizacao' %}" class="btn btn-primary mt-2"
      >Base Utilização</a
    >
    <a href="{% url 'rodar-tudo' %}" class="btn btn-primary mt-2">Rodar tudo</a>
  </div>
</div>
