model/base/*
!model/base/.gitkeep

model/resultados/*
!model/resultados/.gitkeep

model/variaveis/*
!model/variaveis/.gitkeep

model/algoritimos/*
!model/algoritimos/.gitkeep

model/teste/*
!model/teste/.gitkeep

env
