<!-- Botão com ícone de renomear (branco e alinhado à direita) -->
<button type="button" class="btn btn-warning d-flex justify-content-end align-items-center" data-toggle="modal" data-target="#renameModal{{ forloop.counter }}">
    <i class="fa fa-edit text-white" aria-hidden="true"></i>
</button>


<!-- Modal de renomeação -->
<div class="modal fade" id="renameModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel{{ forloop.counter }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renameModalLabel{{ forloop.counter }}">Renomear Arquivo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'rename_file' file_name=file_name %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="newFileName">Novo Nome</label>
            <input type="text" class="form-control" id="newFileName" name="new_file_name" placeholder="Novo Nome" required>
          </div>
          <div class="form-group">
            <label for="fileExtension">Extensão</label>
            <select class="form-control" id="fileExtension" name="file_extension">
              <option value="csv">CSV</option>
              <option value="txt">TXT</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Renomear</button>
        </div>
      </form>
    </div>
  </div>
</div>
